<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>User Role</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Booking Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in users_all_obj %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.address }}</td>
                        <td>{{ i.email }}</td>
                        <td>{{ i.phone }}</td>
                        <td>{{ i.type|capitalize }}</td>
                        <td>{{ i.status|capitalize }}</td>
                        <td>
                            {% if i.status == "active" and i.type == "staff" %}
                            <a href="/lock_staff/{{ i.id }}">
                                <button class="btn btn-warning">Lock</button>
                            </a>
                            {% elif i.status == "locked" and i.type == "staff" %}
                            <a href="/unlock_staff/{{ i.id }}">
                                <button class="btn btn-warning">Unlock</button>
                            </a>
                            <a href="/delete_staff/{{ i.id }}">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                            {% endif %}
                        </td>
                        <td>{{ i.bdate }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    {% include 'user_details_form.html' %}
</div>
