<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>User Role</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Bdate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in users_all_obj %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.address }}</td>
                        <td>{{ i.email }}</td>
                        <td>{{ i.phone }}</td>
                        <td>{{ i.type }}</td>
                        <td>{{ i.status }}</td>
                        <td>
                            <button class="btn btn-warning">Lock</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                        <td>{{ i.bdate }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    {% include 'user_details_form.html' %}
</div>
