<div>
    <form action="/save_user", method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="address">Address</label>
        <input type="text" name="address" id="address">
        <br>
        
        <label for="email_address">Email address</label>
        <input type="text" name="email_address" id="email_address">
        <br>
        <label for="phone_no">Phone number</label>
        <input type="text" name="phone_no" id="phone_no">
        <br>
        <label for="user_role">User Role</label>
        <input type="text" name="user_role" id="user_role">
        <br>
        <button type="submit">
            Add User
        </button>
    </form>
</div>
